@model Csharp_DatVeMayBay.Controllers.PassengerController.BookingViewModel
@using Csharp_DatVeMayBay.Util.CustomHelpers
<div class="container-fluid"
    style="padding: 100px;width: 100%;object-fit: cover;background: url(./img/background-images-personal.jpg) no-repeat;">
    <div class="container-fluid mt-5  body-section">
        <form action="payment-booking" method="POST" class="needs-validation">
            <input type="hidden" name="FlightData" value='@Json.Serialize(Model.Flight)'>
            <input type="hidden" name="FormData" value='@Json.Serialize(Model.FormData)'>
            <div class="row mb-5">
                <h1 class="text-center" style="color: #fff;">XÁC NHẬN LẠI THÔNG TIN CÁ NHÂN</h1>
            </div>
            <div class="row  p-5"
                style="background: #fff;box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);border-radius: 12px;">
                <!-- Row for seat -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control border-dark" id="seat" name="seatNo"
                                value="@Model.FormData.SeatPicker" readonly>
                            <label for="num-tc">Chỗ ngồi</label>
                        </div>
                    </div>
                </div>
                <!-- Row 2 -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control border-dark" id="firstName" name="FirstName"
                                value="@Model.PassengerInfo.FirstName">
                            <label for="num-tc">Họ</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control border-dark" id="lastName" name="LastName"
                                value="@Model.PassengerInfo.LastName">
                            <label for="num-tc">Tên</label>
                        </div>
                    </div>
                </div>
                <!-- Row 3 -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control border-dark" id="num-tc" name="PhoneNumber"
                                value="@Model.PassengerInfo.PhoneNumber">
                            <label for="num-tc">SĐT</label>
                        </div>
                    </div>
                </div>
                <!-- Row 4 -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="text" class="form-control border-dark" id="num-tc" name="Address"
                                value="@Model.PassengerInfo.Address">
                            <label for="num-tc">Địa chỉ</label>
                        </div>
                    </div>
                </div>
                <!-- Row 5 -->
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-floating">
                            <input type="date" class="form-control border-dark" id="Dob" name="Dob" placeholder=""
                                value=@customHelper.FormatDateTime(Model.PassengerInfo.Dob)>
                            <label for="Dob">Ngày sinh</label>
                        </div>
                    </div>
                </div>
                <!-- Row 6 -->
                <div class="row mt-4">
                    <!-- col 1 -->
                    <div class="col">
                        <div class="form-floating">
                            <button class="btn btn-outline-success p-2"
                                style="background-color:#8DD3BB; border: #8DD3BB; color: black;width: 100%;">
                                <a class="d-inline-block text-decoration-none text-black"
                                    style="width:100%; height:100%" href="../flight-flow/flight-detail-page.php">Quay
                                    lại</a>
                            </button>
                        </div>
                    </div>
                    <!-- col 2 -->
                    <div class="col">
                        <div class="form-floating">
                            <!-- <form action="../booking-dt/booking-dt.php" method="POST"> -->
                            <button type="submit" name="" id="" class="btn btn-outline-success p-2"
                                style="background-color:#8DD3BB; border: #8DD3BB; color: black;width: 100%;">Xác
                                nhận</button>
                            <!-- </form> -->
                        </div>
                    </div>
                </div>
            </div>
           <input type="hidden" name="PassengerInfo" value='@Json.Serialize(Model.PassengerInfo)'>
        </form>
    </div>
</div>