@model Csharp_DatVeMayBay.Controllers.FlightsController.BookingSeatViewModel
<link rel="stylesheet" type="text/css" href="~/css/seats.css">
<p class="mt-5"></p>
<div class="container-fluid pt-5 body-section">
    <h1 class="mb-4 p-3 text-center" style="background-color: #8DD3BB; color:#000">Quý khách vui lòng chọn chỗ ngồi
    </h1>
    <div class="row">
        <!-- cột trái -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 my-3">
            <div class="container-fluid border shadow rounded py-4" style="background-color:#fff;">
                <!-- chỗ ngồi loại rộng chân -->
                <div class="row fw-bold ms-2"> Loại ghế</div>
                <div class="row pt-2 justify-content-center">
                    <div class="col-2 d-flex justify-content-center p-0">
                        <div style="width:32px; height:32px; background-color:#6bc6d2;"></div>
                    </div>
                    <div class="col">
                        <p class="fw-bold">Chỗ ngồi thương gia (A - D)</p>
                    </div>
                </div>
                <div class="row pt-2 justify-content-center">
                    <div class="col-2 d-flex justify-content-center p-0">
                        <div style="width:32px; height:32px; background-color:#e059e7;"></div>
                    </div>
                    <div class="col">
                        <p class="fw-bold">Chỗ ngồi phổ thông (E - J)</p>
                    </div>
                </div>
                <div class="row fw-bold ms-2">Tình trạng</div>
                <div class="row pt-2 justify-content-center">
                    <div class="col-2 d-flex justify-content-center p-0">
                        <div style="width:32px; height:32px; background-color:rgb(195, 195, 195);"></div>
                    </div>
                    <div class="col">
                        <p class="fw-bold">Sẵn có</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="plane">
            <div class="cockpit">
                <h1 style="margin-top: 120px;">StarLine</h1>
            </div>
            <div class="exit exit--front fuselage">
            </div>
            <ol class="cabin fuselage">
                <div id="seating-chart"></div>
            </ol>
            <div class="exit exit--back fuselage">

            </div>
            <div class="row mb-3">
                <button type="button" id="btnBook" class="btn btn-warning accepted fw-bold fs-3"
                    style="color:#fff; max-width: 400px; margin-auto">Đặt</button>
            </div>
        </div>
    </div>

    <script>
        const dec = 65;
    @{
        var busySeats = Model.Seats
            .Select(seat => seat.SeatRow + seat.SeatColumn.ToString())
            .ToList();
    }
        const busySeats = @Html.Raw(Json.Serialize(busySeats));
        //busySeats = busySeats.push("G1,G2,G3,G4,G5,G6,H1,H2,H3,H4,H5,H6,I1,I2,I3,I4.I5,I6,J1,J2,J3,J4,J5,J6");
        for (let i = 0; i < 10; i++) {
            const row = String.fromCharCode(dec + i);
            let col = 0;
            let s = "<div class='row mx-3 pb-3'>";

            for (let j = 0; j < 2; j++) {
                col += j;
                const colClass = j === 0 ? "me-3" : "ms-3";
                s += `<div class='col ${colClass}'> <div class='row'>`;

                for (let k = 1; k <= 3; k++) {
                    const coe = row + (col + k);
                    let seatHtml = "";

                    if (busySeats.includes(coe)) {
                        // Chỗ ngồi đã được đặt
                        if (row <= 'C') {
                            seatHtml = `<div class='col-3 p-0 mx-auto seat'>
                        <div class='Thương-Gia text-center seat fw-bold p-1' 
                            style='width:100%; height:38px; background-color:#6bc6d2; color:#fff;'
                            onclick='changeSeatState(this)'>
                            ${coe}
                        </div>
                    </div>`;
                        } else {
                            seatHtml = `<div class='col-3 p-0 mx-auto seat'>
                        <div class='Phổ-Thông text-center seat fw-bold p-1' 
                            style='width:100%; height:38px; background-color:#e059e7; color:#fff;'
                            onclick='changeSeatState(this)'>
                            ${coe}
                        </div>
                    </div>`;
                        }
                    } else {
                        // Chỗ sẵn có
                        if (row <= 'C') {
                            seatHtml = `<div class='col-3 p-0 mx-auto seat'>
                        <div class='Thương-Gia available text-center seat fw-bold p-1' 
                            style='width:100%; height:38px; background-color:rgb(195, 195, 195); color:#fff;'
                            onclick='changeSeatState(this)'>
                            ${coe}
                        </div>
                    </div>`;
                        } else {
                            seatHtml = `<div class='col-3 p-0 mx-auto seat'>
                        <div class='Phổ-Thông available text-center seat fw-bold p-1' 
                            style='width:100%; height:38px; background-color:rgb(195, 195, 195); color:#fff;'
                            onclick='changeSeatState(this)'>
                            ${coe}
                        </div>
                    </div>`;
                        }
                    }
                    s += seatHtml;
                }
                col = col + 2;
                s += `</div></div>`;
            }
            s += `</div>`;
            document.getElementById("seating-chart").innerHTML += s;

            if (row === 'C') {
                document.getElementById("seating-chart").innerHTML += `<div class='row m-0 align-items-end'>
                                                            <div class='col'><hr></div>
                                                        </div>`;
            }
        }
    </script>
    <style>
        .seat:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    </style>

</div>

</div>

</div>
<!-- form-->
<form id="form" method="post" action="./flight-detail-booking">
    <input type="hidden" name="FlightData" value='@Json.Serialize(@Model.Flight)'>
    <input type="hidden" name="FormData" value='@Json.Serialize(@Model.FormData)'>
</form>
</div>
<script>
    function changeSeatState(elem) {
        var class_seat = "@Model.FormData.FlightClass";
        if (class_seat == "PT") {
            class_seat = "Phổ-Thông";
        }
        else {
            class_seat = "Thương-Gia";
        }
        let arrayClassName = elem.classList;
        // console.log(arrayClassName);
        if (arrayClassName.contains(class_seat)) {
            if (arrayClassName.contains('available')) {
                if (arrayClassName.contains("selected") == false) {
                    let seats = document.querySelectorAll(".selected");
                    console.log(seats.length)
                    if (seats.length == 1) {
                        alert("Chỉ được chọn một ghế");
                    }
                    else {
                        $(elem).addClass('selected');
                        // console.log(elem.classList);
                        let coe = $.trim($(elem).text());
                        if (coe[0] <= 'C') {
                            $(elem).css({ 'background-color': '#6bc6d2', 'border': 'solid  #FF3131' });
                        }
                        else {
                            $(elem).css({ 'background-color': '#e059e7', 'border': 'solid #FF3131' });
                        }
                        // console.log(coe[1] <= 'E');
                    }
                }
                else {
                    $(elem).removeClass('selected');
                    $(elem).css({ 'background-color': 'rgb(195, 195, 195)', 'border': 'none' });

                }
            }
            else {
                alert('Ghế này đã được đặt');
            }
            // console.log(elem.classList.contains("selected"));
        }
        else {
            let tmp = class_seat.replace("-", " ");
            alert('Loại ghế không hợp lệ, loại ghế của quý khách là hạng ' + tmp);
        }

    }


    //form
    $('.accepted').on('click', function () {
        let seats = document.querySelectorAll(".selected");
        if (seats.length == 0) {
            alert("Không có ghế nào được chọn");
        }
        else {
            let form = $("#form");
            for (let seat of seats) {
                let input = document.createElement("input");
                input.type = "hidden";
                input.name = "seat";
                input.value = $.trim(seat.innerHTML);
                form.append(input);
            }
            form.submit();
        }
    });
</script>